<html>
  <head>
    <title>Monitor client</title>
    <script src="https://cdn.jsdelivr.net/sockjs/0.3.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script>
      var app = angular.module('stompApp', []);

      app.controller('StompController', function ($scope) {
        var STOMP_URL = "http://localhost:8080/apac/ws";
        var PROGRESS_ENDPOINT = "/progress";
        var END_TOKEN = "##END##";
        var socket = null;
        var stompClient = null;
        $scope.uuid = "";
        $scope.error = false;
        $scope.messages = [];
        $scope.connect = function () {
          if (socket !== null) {
            socket.close();
          }

          if (stompClient !== null) {
            stompClient.disconnect();
          }

          socket = new SockJS(STOMP_URL);
          stompClient = Stomp.over(socket);
          if ($scope.uuid.length >= 32) {
            stompClient.connect({}, function () {
              var unsubscribe = false;
              var subscription = stompClient.subscribe("/submission/" + $scope.uuid + PROGRESS_ENDPOINT, function (message) {
                $scope.$apply(function () {
                  if (message.body.indexOf("error") > -1) {
                    $scope.error = true;
                  }
                  if (message.body.substring(0, 2) !== "##") {
                    $scope.messages.push.apply($scope.messages, JSON.parse(message.body));
                  }

                  if (message.body.indexOf(END_TOKEN) > -1) {
                    unsubscribe = true;
                  }
                });
                if (unsubscribe) {
                  subscription.unsubscribe();
                  stompClient.disconnect();
                }
              });
            },
                    function (error) {
                      console.log("STOMP protocol error " + error);
                    }
            );
          }
        };
      });
    </script>
  </head>

  <body ng-app="stompApp" ng-controller="StompController">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="/apac">APAC STOMP client</a>
        </div>

        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>

    <div class="container" style="margin-top:60px">
      <div class="row">
        <form class="form-inline">
          <div class="form-group">
            <label for="uuid">UUID</label>
            <input id="uuid" type="text" class="form-control" placeholder="submission uuid" size="40"
                   ng-model="uuid"/>
          </div>
          <input id="connect" class="btn btn-default" type="button" value="Connect" ng-click="connect()"/>
        </form>
      </div>

      <div class="row">
        <h3>Output</h3>
        <pre style="font-size: small" ng-class="error ? 'bg-danger' : ''">
                <code>
                    <table>
                        <tr ng-repeat="msg in messages" ng-class="msg.level == 'ERROR' ? 'text-danger' : ''">
                            <td>
                                <small>{{msg.message}}</small>
                            </td>
                        </tr>
                    </table>
                </code>
        </pre>
      </div>
    </div>
  </body>
</html>
