<html>
  <head>
    <title>Request Trace</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <script>
      var app = angular.module('traceApp', []);
      app.controller('traceController', function ($scope, $http) {
        $http.get('/apac/manage/trace').
                success(function (data) {
                  $scope.traces = data;
                });
      });
    </script>
  </head>

  <body ng-app="traceApp" ng-controller="traceController">
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="/apac">Request trace</a>
        </div>

        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th>Timestamp</th>
            <th>Method</th>
            <th>Path</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="trace in traces| orderBy:'timestamp':true">
            <td>{{trace.timestamp| date:'HH:mm:ss.sss'}}</td>
            <td>{{trace.info.method}}</td>
            <td>{{trace.info.path}}</td>
            <td>{{trace.info.headers.response.status}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
