<!DOCTYPE html>
<!--
Copyright (C) 2015 František Špaček

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<html>
  <head>
    <title>APAC 2.0</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
          integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <style>
      body {
        padding-top: 50px;
      }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script>
      var app = angular.module('healthApp', []);
      app.controller('healthController', function ($scope, $http) {
        $http.get('/apac/manage/health')
                .then(function (response) {
                  console.log(response);
                  $scope.health = response.data;
                }, function (response) {
                  $scope.health = response.data;
                });
      });
    </script>
  </head>
  <body ng-app="healthApp" ng-controller="healthController">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/apac">APAC 2.0</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/apac/docs/index.html">API docs</a></li>
            <li><a href="/apac/app/trace.html">Trace</a></li>
            <li><a href="/apac/app/angular-monitor.html">WebSocket Demo</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="row">
        <h3>Application status</h3>
      </div>
      <div class="row"> 
        <p style="padding:10px" ng-class="health.docker.status === 'UP' ? 'bg-success' : 'bg-danger'">
          <b>Docker ({{health.docker.version.version}}): </b>
          <b class="pull-right">{{health.docker.status}}</b>
        </p>
        <p style="padding:10px" ng-class="health.db.status === 'UP' ? 'bg-success' : 'bg-danger'">
          <b>Database ({{health.db.database}}): </b>
          <b class="pull-right">{{health.db.status}}</b>
        </p>
        <p style="padding:10px" ng-class="health.plagDetector.status === 'UP' ? 'bg-success' : 'bg-danger'">
          <b>PlagDetector: </b>
          <b class="pull-right">{{health.plagDetector.status}}</b>
        </p>
        <p style="padding:10px" ng-class="health.diskSpace.status === 'UP' ? 'bg-success' : 'bg-danger'">
          <b>Disk space: </b>
          <b class="pull-right">{{health.diskSpace.free / 1000000000}} GB</b>
        </p>
      </div>
    </div><!-- /.container -->
  </body>
</html>
